<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
	<div class="field">
	  <%= f.text_area :content,class: "form-control", placeholder: "Escribe un nuevo micropost..." %>
	</div>
	<%= f.submit "Publicar", class: "btn btn-primary" %>
  </div>
<% end %>