<%= link_to gravatar_for(current_user, size: 52), current_user %>
<h1>
  <%= current_user.nombre %>
</h1>
<span>
  <%= link_to "ver mi perfil", current_user %>
</span>
<span>
  <%= pluralize(current_user.microposts.count, "micropost") %>
</span>