<% provide(:titulo, "Ingresar") %>
<h1>Ingresar</h1>
<div class="row">
  <div class="col-md-6 col-lg-offset-3">
    <%= form_for(:sesion, url: sesiones_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Ingresar", class: "btn btn-lg btn-primary" %>
    <% end %>

    <p>¿Nuevo Usuario? <%= link_to "¡Registrate Ahora!", alta_path %></p>
  </div>
</div>