<% unless current_user?(@usuario) %>
  <div id="follow_form">
  <% if current_user.siguiendo?(@usuario) %>
    <%= render 'noseguir' %>
  <% else %>
    <%= render 'seguir' %>
  <% end %>
  </div>
<% end %>