<% provide(:titulo, "Editar usuario") %>
<h1>Actualiza tu perfil</h1>

<div class="row">
  <div class="col-md-4 col-lg-offset-4">
    <%= form_for(@usuario) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.label :nombre %>
        <%= f.text_field :nombre , class: "form-control" %>
        <%= f.label :email  %>
    	  <%= f.text_field :email , class: "form-control" %>
    	  <%= f.label :password %>
    	  <%= f.password_field :password , class: "form-control"%>
    	  <%= f.label :password_confirmation, "Confirmacion"  %>
    	  <%= f.password_field :password_confirmation , class: "form-control"%>
    	  <%= f.submit "Guardar cambios", class: "btn btn-primary" %>
	    </div>
    <% end %>
    <br/>
    <%= gravatar_for @usuario %>
    <a href="http://gravatar.com/emails">cambiar</a>
    
  </div>
</div>