<% provide(:titulo, 'Darse de Alta') %>
<h1>Darse de Alta</h1>
<div class="row">
	<div class="col-md-6 col-lg-offset-3">
		<%= form_for(@usuario) do |f| %>
			<%= render 'shared/error_messages', object: f.object  %>
		  	<%= f.label :nombre %>
	      	<%= f.text_field :nombre %>

	      	<%= f.label :email %>
	      	<%= f.text_field :email %>

	      	<%= f.label :password %>
	      	<%= f.password_field :password %>

	      	<%= f.label :password_confirmation, "Confirmacion" %>
	      	<%= f.password_field :password_confirmation %>

	      	<%= f.submit "Crear mi cuenta", class: "btn btn-lg btn-primary" %>
		<% end %>
	</div>
</div>
