<% provide(:titulo, @usuario.nombre) %>
<div class="row">
	<aside class="col-lg-4">
		<section>
			<h1>
				<%= gravatar_for @usuario %>
				<%= @usuario.nombre %>
			</h1>
		</section>
		<section>
      		<%= render 'shared/stats' %>
        </section>
	</aside>
	<div class="col-lg-8">
	<%= render 'formulario_seguir' if signed_in? %>
    <% if @usuario.microposts.any? %>
      <h3>Microposts (<%= @usuario.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>