<li>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    Publicado <%= time_ago_in_words(micropost.created_at) %> atras.
  </span>
  <% if current_user?(micropost.usuario) %>
    <%= link_to "borrar", micropost, method: :delete,
                                     data: { confirm: "¿Estas seguro?" },
                                     title: micropost.content %>
  <% end %>
</li>