<header class="navbar navbar-fixed-top navbar-inverse navbar-default">
  <div class="container"><%= link_to "Aplicacion de Ejemplo", root_path, id: "logo" %>
	<nav>
	  <ul class="nav pull-right navbar-nav">
	    <li><%= link_to "Inicio", root_path %></li>
	    <li><%= link_to "Ayuda", ayuda_path %></li>
	    <% if signed_in? %>
	      <li><%= link_to "Usuarios", usuarios_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Cuenta <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Perfil", current_user %></li>
                <li><%= link_to "Herramientas", edit_usuario_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Salir", salida_path, method: "delete" %>
                </li>
              </ul>
            </li>
	    <% else %>
	      <li><%= link_to "Ingresar", ingreso_path %></li>
	    <% end %>
	  </ul>
	</nav>
  </div>
</header>