<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Tutorial de Rails</a>
    por Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "Acerca",   acerca_path %></li>
      <li><%= link_to "Contacto", contacto_path %></li>
      <li><a href="http://news.railstutorial.org/">Novedades</a></li>
    </ul>
  </nav>
</footer>