<% provide(:titulo, 'Nosotros') %>
<h1>Acerca de Nosotros</h1>
<p>
El <a href="http://railstutorial.org/">Tutorial de Ruby y Rails</a> es un proyecto para hacer un libro y pantallazos para enseñar desarrollo web con <a href="http://rubyonrails.org/"> Ruby y Rails</a>. Este es un ejemplo por el Tutorial.
</p>