<% provide(:titulo, 'Ayuda') %>
<h1>Ayuda</h1>
<p>Obten ayuda sobre Ruby y Rails aqui <a href="http://railstutorial.org/help"> Pagina de Ayuda de Rails Tutorial</a>.
Para obtener ayuda sobre este ejemplo, mira aqui <a href="http://railstutorial.org/book">Libro Tutorial de Rails</a>.</p>