<% if signed_in? %>
  <div class="row">
    <aside class="col-lg-4">
      <section>
        <%= render 'shared/info_usuario' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/formulario_micropost' %>
      </section>
    </aside>
    <div class="col-lg-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
	<div class="center jumbotron">
		<h1>Bienvenido a la Aplicacion de ejemplo</h1>
		<h2>
			Esto es la pagina de inicio para el
			<a href="http://railstutorial.org/">Tutorial Ruby y Rails</a>
			Aplicacion de ejemplo
		</h2>
		<%= link_to "Registrate Ahora!", alta_path, class: "btn btn-large btn-primary" %>
	</div>

	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>